body{
    margin: 0;
}
#fondo img{
    width:1263px;
    height: 900px;
}
#titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #473b38;
    position: absolute;
    top:150px;
    margin-left: 400px;
    font-size: 2rem;
}
#white{
    width: 412px;
    height: 875px;
    background-color:#f8f4f4;
    position: absolute;
    top:10px;
    right:50px;
}
#title1{
    color:#778b33;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top:0px;
    right: 350px;
}
#usuario{
    width:20px;
    height: 20px;
    position: absolute;
    z-index: 1; 
    top:60px;
    right:0;
    margin-right: 400px;
}
#email{
    width:20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top:112px;
    right: 0px;
    margin-right: 400px;
}
#password{
    width:22px;
    height: 22px;
    position: absolute;
    z-index: 1;
    top:160px;
    right: 0;
    margin-right: 399px;
}
#raya1{
    width: 1.5px;
    height: 43px;
    background-color: #b9b5b5;
    top:50px;
    z-index: 2;
    position: absolute;
    right: 385px;
}
#raya2{
    width: 1.5px;
    height: 43px;
    background-color: #b9b5b5;
    top:100px;
    z-index: 2;
    position: absolute;
    right: 385px;
}
#raya3{
    width: 1.5px;
    height: 43px;
    background-color: #b9b5b5;
    top:150px;
    z-index: 2;
    position: absolute;
    right: 385px;
}
#cuadro1{
    width: 250px;
    height: 40px;
    background-color: #e9e7e8;
    position: absolute;
    top:50px;
    right:180px;
    border: 1.5px solid #b9b5b5;
}
#cuadro2{
    width: 250px;
    height: 40px;
    background-color: #e9e7e8;
    position: absolute;
    top:100px;
    right:180px;
    border: 1.5px solid #b9b5b5;
}
#cuadro3{
    width: 250px;
    height: 40px;
    background-color: #e9e7e8;
    position: absolute;
    top:150px;
    right:180px;
    border: 1.5px solid #b9b5b5;
}
#full-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    position: absolute;
    top:47px;
    right: 300px;
}
#correo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    position: absolute;
    top:97px;
    right: 327px;
}
#contraseña{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    position: absolute;
    top:145px;
    right: 305px;
}
#cuadro4{
    width: 220px;
    height: 40px;
    background-color: #e9e7e8;
    position: absolute;
    top:250px;
    right:208px;
    border: 1.5px solid #b9b5b5;
}
#title2{
    color:#778b33;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top:200px;
    right: 305px;
}
#fecha{
    color:#787869;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top:262px;
    right:305px;
}
#agenda{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 245px;
    top:262px;
}
#male{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 360px;
    right: 350px;
    z-index: 1;
}
#cuadro5{
    width: 100px;
    height: 40px;
    position: absolute;
    right: 330px;
    top:350px;
    background-color: #778b33;
    border-radius: 10px 10px 10px 10px;
}
#title3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 360px;
    top: 300px;
    color:#778b33;
}
#punto1{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 362px;
    right: 400px;
}
#female{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 360px;
    right: 220px;
    z-index: 1;
}
#cuadro6{
    width: 130px;
    height: 40px;
    position: absolute;
    right: 190px;
    top:350px;
    background-color: #778b33;
    border-radius: 10px 10px 10px 10px;
}
#punto2{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 362px;
    right: 285px;
}
#title4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 290px;
    top: 400px;
    color:#778b33;
}
#cuadro7{
    width: 130px;
    height: 40px;
    position: absolute;
    right: 300px;
    top:460px;
    background-color: #778b33;
    border-radius: 10px 10px 10px 10px;
}
#cuadro8{
    width: 130px;
    height: 40px;
    position: absolute;
    right: 160px;
    top:460px;
    background-color: #778b33;
    border-radius: 10px 10px 10px 10px;
}
#visa{
    width: 25px;
    height: 12px;
    position: absolute;
    top:475px;
    right: 395px;
}
#paypal{
    width: 28px;
    height: 12px;
    position: absolute;
    top: 473px;
    right: 245px;
}
#tarjet-credito{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    position: absolute;
    right: 310px;
    top: 470px;
    color: white;
}
#digital{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    position: absolute;
    right: 190px;
    top: 470px;
    color: white;
}
#cuadro9{
    width: 250px;
    height: 40px;
    position: absolute;
    right: 175px;
    top:530px;
    border: 1.5px solid #b9b5b5;
    background-color: #e9e7e8;
}
#cuadro10{
    width: 250px;
    height: 40px;
    position: absolute;
    right: 175px;
    top:580px;
    border: 1.5px solid #b9b5b5;
    background-color: #e9e7e8;
}
#cuadro11{
    width: 200px;
    height: 40px;
    position: absolute;
    right: 225px;
    top:630px;
    border: 1.5px solid #b9b5b5;
    background-color: #e9e7e8;
}
#raya4{
    width: 1.5px;
    height: 43px;
    background-color: #b9b5b5;
    top:530px;
    z-index: 1;
    position: absolute;
    right: 380px;
}
#raya5{
    width: 1.5px;
    height: 43px;
    background-color: #b9b5b5;
    top:580px;
    z-index: 1;
    position: absolute;
    right: 380px;
}
#tarjet{
    width: 18px;
    height: 20px;
    position: absolute;
    right: 396px;
    top:540px;
    z-index:1;
}
#numero-tarjeta{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 1rem;
    top:541px;
    right: 280px;
    color: #787869;
}
#llave{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 396px;
    top:592px;
    z-index: 1;
}
#candado{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 1rem;
    top:591px;
    right: 338px;
    color: #787869;
}
#fecha2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 1rem;
    top:641px;
    right: 310px;
    color: #787869;
}
#agenda{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 260px;
    top:640px;
    z-index: 1;
}
h4{
    color: #778b33;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    right: 280px;
    top:680px;
}